1. What are data structures, and why are they important?

 -> Data structures are organized formats for storing and managing data efficiently, such as arrays, lists, trees, and graphs. They are crucial for optimizing algorithms, improving performance, and effectively solving computational problems.

2. Explain the difference between mutable and immutable data types with examples.

  -> Mutable: Can be changed after creation (e.g., lists: list1 = [1, 2, 3]; list1[0] = 10).
Immutable: Cannot be changed after creation (e.g., strings: s = "hello"; s[0] = "H" results in an error).

3. What are the main differences between lists and tuples in Python?

  ->
  Lists: Mutable, dynamic, slower, e.g., [1, 2, 3].
  
  Tuples: Immutable, faster, e.g., (1, 2, 3).

4. Describe how dictionaries store data.

  -> Dictionaries store data as key-value pairs using a hash table for efficient access.

5. Why might you use a set instead of a list in Python?

  -> Sets automatically eliminate duplicates and support fast membership checks.

6. What is a string in Python, and how is it different from a list?

  ->A string is an immutable sequence of characters, while a list is a mutable sequence of items of any type.

7. How do tuples ensure data integrity in Python?

  -> Tuples are immutable, preventing accidental changes to their contents, which ensures data consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?

  ->A hash table is a data structure that maps keys to values for efficient access. Python dictionaries use hash tables internally.

9. Can lists contain different data types in Python?

  ->Yes, lists can hold mixed data types, e.g., [1, "two", 3.0].

10. Explain why strings are immutable in Python.

  -> Strings are immutable to enhance performance, memory efficiency, and security in multi-threaded environments.

11. What advantages do dictionaries offer over lists for certain tasks?

 -> Dictionaries provide fast lookups and retrieval using keys, unlike lists, which require searching sequentially.

12. Describe a scenario where using a tuple would be preferable over a list.

  -> Tuples are preferable for fixed, unchangeable data, like storing latitude and longitude coordinates.

13. How do sets handle duplicate values in Python?

  -> Sets automatically remove duplicates, ensuring each element is unique.

14. How does the "in" keyword work differently for lists and dictionaries?

  -> Lists: Checks for element presence.

  Dictionaries: Checks for key presence.

15. Can you modify the elements of a tuple? Explain why or why not.

  -> No, tuples are immutable, meaning their contents cannot be altered after creation.

16. What is a nested dictionary, and give an example of its use case.

  -> A nested dictionary is a dictionary within a dictionary. Example:

  data = {"user1": {"name": "Alice", "age": 25}, "user2": {"name": "Bob", "age": 30}}

17. Describe the time complexity of accessing elements in a dictionary.

  -> Accessing elements in a dictionary has an average time complexity of O(1).

18. In what situations are lists preferred over dictionaries?

  -> Lists are preferred for ordered collections and when sequence or indexing is important.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  -> Dictionaries do not guarantee order (prior to Python 3.7). Data retrieval depends on keys, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  -> Lists: Retrieval by index.

  Dictionaries: Retrieval by key.

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print itE.
name = "Sandip"
print(name)

Sandip

In [2]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [3]:
# 3.  Slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced = string[:3]
print(sliced)

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
string = "hello"
uppercase = string.upper()
print(uppercase)

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
replaced = string.replace("apple", "orange")
print(replaced)

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

In [12]:
# 12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [13]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
count_of_two = numbers.count(2)
print(count_of_two)

3

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [15]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
is_banana_present = 'banana' in fruits
print(is_banana_present)

True

In [16]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [17]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set2 = {1, 2, 3, 4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

In [18]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple1 = (10, 20, 30)
print(tuple1)

(10, 20, 30)

In [19]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [20]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
count_of_two = numbers.count(2)
print(count_of_two)

3

In [21]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [22]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
is_banana_present = 'banana' in fruits
print(is_banana_present)

True

In [23]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [24]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set2 = {1, 2, 3, 4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}